#root {
  min-width: 100%;
  min-height: 100vh;
  flex-grow: 1;
  margin: 0 auto;
  padding: 0rem;
  justify-content: center;
  text-align: center;
  background-color: #AEBDCA;
}

.bg-Navbar {
  background-color: #7895B2;
}

#NavbarLogo {
  padding: 10px;
}

#NavBar {
  margin: 10px;
}

#mb-4 {
  background-color: #FFEDDB;
}

.card {
  padding: 0em;
}

.read-the-docs {
  color: #888;
}
